body
{
    margin: 0;
}

#container
{
    width: 100%;
    height: 35vh;
    background-image: url(hearts.jpg);
    display: flex;
    min-height: 240px;
    min-width: 1000px;
    background-size: cover;
}

#profile_pic
{
    height: inherit;
    width: 30%;
    min-width: 300px;
}

#profile_pic img
{
    height: 24vh;
    width: 24vh;
    margin: auto;
    display: block;
    top: 4.5vh;
    position: relative;
    min-height: 180px;
    min-width: 180px;
    box-shadow: 15px 15px 25px #3d3942;
    border: 2px solid rgba(179, 102, 115, 0.56);
}

#quick_info
{
    width: 50%;
    display: flex;
    min-width: 500px;
}

#quick_info table
{
    margin: auto 0 auto 0;
    background: white;
    border-radius: 4vmin;
    padding: 1vmin;
    border: 2px outset #6f6fc5;
}

#quick_info p
{
    font-size: 28px;
}

#quick_access
{
    width: 20%;
    min-width: 200px;
    background: #382f36;
    border-left: 1vmin double black;
}

#quick_access ul
{
    list-style-type: none;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

#quick_access ul a
{
    text-decoration: none;
}

#quick_access ul li
{
    height: 33.3%;
    box-sizing: border-box;
    display: flex;
}

#quick_access ul li:hover
{
    background: #211a1f;
    box-sizing: border-box;
    border-top: 0.3vmin solid black;
    border-bottom: 0.3vmin solid black;
    opacity: 0.8;
}

#quick_access ul li p
{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 130%;
    color: white;
}