
.cursus
{
    border: 0.5vmin outset rgba(70, 72, 70, 0.5);
    border-radius: 10px;
    padding: 1%;
    background: rgba(188,191,244,0.4);
    margin-top: 2%;
    line-height: 2em;
}

a:link, a:visited
{
    text-decoration: none;
    color: blue;
}

links
{
    list-style-type: circle;
}