body
{
    margin : 0;
}

#header
{
    background: rgb(35, 40, 46);
    height : 15%;
}

#fast_access
{
    text-align: right;
    background: inherit;
    padding: 9vmin 1vmin 0 0;
}

#fast_access a
{
    text-decoration: none;
    font-weight: 600;
    color : white;
    font-size: 2vmin;
    padding: 1%;
}

#fast_access a:hover
{
    font-weight: 700;
    background: black;
    border-radius: 10%;
}

#fast_access a:active
{
    color : black;
    background : white;
}

#main_content
{
    background: #e0effd;
    height: 75%;
}

.side table
{
    width:100%;
}

#footer
{
    background: #48494A;
    height : 10%;
}

#videoElement
{
    width: 62vmin;
    margin: auto;
    display: flex;
}

#shoot
{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    bottom: 7vmin;
    position: relative;
    background: black;
    border-radius: 100%;
    border: 10px double #BDBDBD;
    cursor: pointer;
    width: 7vmin;
    height: 7vmin;
}

#shoot:hover
{
    width : 6.5vmin;
    height : 6.5vmin;
}

#shoot:active
{
    width : 5.5vmin;
    height : 5.5vmin;
    opacity: 0.3;
}

canvas
{
    display: none;
}

#test
{
    padding: 0;
    display: flex;
    max-height: 62vmin;
    overflow: auto;
    position: relative;
}

.inner_images
{
    width :32%;
}

.speed_view
{
    width: 100%;
}

#images
{
    overflow-y: auto;
    height: 100%;
    display: flex;
    min-height: 100%;
    position: relative;
    max-height: 100%;
    max-width: 62vmin;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.super
{
    height:100%;
    box-sizing: border-box;;
}

.super:hover
{
    background : rgba(36, 51, 70, 0.25);
    cursor : pointer;
    height : 99%;
}

.super:active
{
    background : rgba(36, 51, 70, 0.32);
    box-shadow: inset 5px 3px 10px 3px blue;
    height : 98%;
    transition : box-shadow 0.2s;
}