body
{
    margin : 0;
}

#header
{
    background: rgb(35, 40, 46);
    height : 15%;
}

#fast_access
{
    text-align: right;
    background: inherit;
    padding: 9vmin 1vmin 0 0;
}

#fast_access a
{
    text-decoration: none;
    font-weight: 600;
    color : white;
    font-size: 2vmin;
    padding: 1%;
}

#fast_access a:hover
{
    font-weight: 700;
    background: black;
    border-radius: 10%;
}

#fast_access a:active
{
    color : black;
    background : white;
}

#main_content
{
    background: #e0effd;
    height: 75%;
}

.side table
{
    width:100%;
}

#footer
{
    background: rgb(35, 40, 46);
    height : 10%;
    font-size: 2vmin;
    padding: 1vmin;
    color: white;
    box-sizing: border-box;
}

#footer p
{
    margin : 0;
}

#videoElement
{
    width: 62vmin;
    margin: auto;
    display: flex;
}

#shoot
{
    display: none;
    margin-right: auto;
    margin-left: auto;
    bottom: 7vmin;
    position: relative;
    background: black;
    border-radius: 100%;
    border: 10px double #BDBDBD;
    cursor: pointer;
    width: 7vmin;
    height: 7vmin;
}

#shoot:hover
{
    width : 6.5vmin;
    height : 6.5vmin;
    margin-bottom: 0.5vmin;
}

#shoot:active
{
    width : 5.5vmin;
    height : 5.5vmin;
    opacity: 0.3;
    margin-bottom: 1.5vmin;
}

canvas
{
    display: none;
}

#test
{
    padding: 0;
    display: flex;
    max-height: 62vmin;
    overflow: auto;
    position: relative;
}

.inner_images, .selected
{
    width :32%;
}

.selected
{
    border : 1vmin solid #ff29f4;
    box-sizing : border-box;
}

.speed_view
{
    width: 100%;
}

#images
{
    overflow-y: auto;
    height: 100%;
    display: flex;
    min-height: 100%;
    position: relative;
    max-height: 100%;
    max-width: 62vmin;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.super
{
    height:100%;
    box-sizing: border-box;;
}

.super:hover
{
    background : rgba(36, 51, 70, 0.25);
    cursor : pointer;
    height : 99%;
}

.super:active, .activepng
{
    background : rgba(36, 51, 70, 0.32);
    box-shadow: inset 5px 3px 10px 3px blue;
    height : 98%;
    transition : box-shadow 0.2s;
}

.download
{
    display: table;
    margin: auto;
    height: 3vmin;
    display: none;
    width: 12vmin;
    border-radius: 0.6vmin;
    font-size: 1.5vmin;
    color: #9dc7c2;
    background-image: linear-gradient(90deg, #716c6c, #272626, #716c6c);
    box-shadow: none;
    box-sizing: content-box;
    cursor : pointer;
}

.download:hover
{
    background-image: linear-gradient(90deg, #272626, #716c6c, #272626);
    border : 0.3vmin double black;
}

.download:active
{
    background-image: linear-gradient(90deg, #716c6c, #272626, #716c6c);
    border : none;
    width : 11.5vmin;
    height : 2.5vmin;
}

#shooter
{
    margin: auto;
    display: table;
}

#buttons
{
    margin: auto;
    display: flex;
}

#upload
{
    display :none;
}

#b_row
{
    transform: translateY(-6vmin);
}