body
{
    margin : 0;
}

*
{
    max-width : 100%;
}

#header
{
    background: rgb(35, 40, 46);
    position: fixed;
    width: 100%;
    height: 13vmin;
}

#fast_access
{
    text-align: right;
    background: inherit;
    padding: 8vmin 1vmin 0 0;
}

#fast_access a
{
    text-decoration: none;
    font-weight: 600;
    color : white;
    font-size: 2vmin;
    padding: 1%;
}

#fast_access a:hover
{
    font-weight: 700;
    background: black;
    border-radius: 10%;
}

#fast_access a:active
{
    color : black;
    background : white;
}

.commentaries, #pictures
{
    background : #b7b5b5;
    height : 80vh;
    top : 14vh;
    border-radius: 5%;
    border : 1vmin double;
    border-color: white;
    box-sizing: border-box;
}

.commentaries
{
    position : absolute;
    width : 30vw;
    margin-left: 2vw;
}

#like
{
    margin: auto;
    display: table;
}

.display
{
    display : none;
}

#pictures
{
    position : absolute;
    width : 63vw;
    left : 30vw;
    overflow: auto;
    margin-left : 5%;
}

#pictures a
{
    position : absolute;
    bottom : 0;
    margin : auto;
}

#footer
{
    background: rgb(35, 40, 46);
    position : fixed;
    bottom : 0;
    width : 100%;
    height : 5%;
}

#comment
{
    width: 28vw;
    height: 17%;
    margin: auto;
}

#comment #form, #comment table
{
    width: 27vw;
    margin: auto;
    height : 100%;
}

#comment table
{
    margin-top : 5vh;
}

#comment td
{
    padding : 0;
}

#comment hr
{
    margin-top: 3vmin;
    height: 0.2vmin;
    background: #c7d2cb;
}

#form textarea
{
    width : 94%;
    height : 100%;
    margin: auto;
    resize : none;
    padding: 2%;
    border-radius: 0% 2vmin 2vmin 2vmin;
    border: .4em double #6b6b6f;
    background: #c8cbce;
}

#form input[type=submit]
{
    width: 9vmin;
    right: 1.3vmin;
    position: absolute;
    background: #8b97b5;
    border: .2em solid #4a4747;
    cursor: pointer;
    height: 2.5vmin;
}

.select
{
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    display: flex;
    height: 100%;
    font-size: 4vw;
    line-height: 25vmin;
}

#pictures img, .selection
{
    height : 15vw;
    width : 15vw;
    margin : 4%;
    box-sizing: border-box;
}

#pictures img:hover, .selection
{
    cursor: pointer;
    border : 3px solid blue;
}

::-webkit-scrollbar
{
    width : 0.9vw;
}

::-webkit-scrollbar-track-piece
{
    background: transparent none;
    border: solid 0.5vw transparent;
    border-right-width: 0.9vw;
    margin: 15%;
	-webkit-box-shadow: inset .0625em .0625em 0 0 rgb(137,131,117), inset -.0625em -.0625em 0 0 rgb(224,220,210);
}

::-webkit-scrollbar-thumb
{
    border: solid 0 transparent;
	border-right-width: 0.4vw;
    -webkit-border-radius: 0.3em;
	-webkit-border-top-right-radius: .5625em .3125em;
	-webkit-border-bottom-right-radius: .5625em .3125em;
	-webkit-box-shadow: inset 0 0 0 .0625em rgb(79,79,79), inset 0 0 0 .375em rgb(102,102,102);
}

#button1, #button2
{
    height: 10vmin;
    width : 10vmin;
    background-size: cover;
    background-color: inherit;
    cursor: pointer;
}

#button1
{
    background-image: url('like.png');
    border: 0.2vw outset green;
    margin-right: 6vw;
    margin-top: 1vh;
}

#button2
{
    background-image: url('dislike.png');
    border: 0.2vw outset red;
}

#button1:hover, #button2:hover
{
    background-color: #756e6e;
}

#button1:hover
{
    border: 0.4vw inset green;
}

#button2:hover
{
    border: 0.4vw inset red;
}

#actual_contain
{
    max-height: 40vh;
    position: relative;
    width: 97%;
    display: flex;
    overflow: auto;
}

#comment #actual
{
    width: 95%;
    background: #d2dae0;
    margin-top: 3vmin;
    height: 96%;
    border-radius: 1vmin;
    border-collapse: collapse;
    box-sizing: border-box;
}

#actual tr
{
    width : 100%;
}

#actual td
{
    border : 1px dotted black;
    padding : 1vmin;
    word-wrap: break-word;
}

#actual td, #actual tr, #actual tbody, #actual
{
    display: block;
}

#actual tr:first-child td:first-child
{
    border-radius: 1vmin 1vmin 0 0;
}

#actual tr:last-child td:first-child
{
    border-radius: 0 0 1vmin 1vmin;
}
#actual tr td:only-child
{
    border-radius : 1vmin !important;
}