body
{
    margin : 0;
}

#header
{
    background: rgb(35, 40, 46);
    position: fixed;
    width: 100%;
    height: 13vmin;
}

#fast_access
{
    text-align: right;
    background: inherit;
    padding: 6vmin 1% 0% 0%;
    font-size: 3vmin;
}

#fast_access table
{
    position : absolute;
    right : 0;
    width : 33vmin;
    padding : 0;
    margin-right : 1vmin;
}

#fast_access a
{
    padding : 1vmin;
    box-sizing : border-box;
    text-decoration : none;
    background : #1c1c1d;
    color : #a0a0a5;
}

#fast_access a:hover
{
    padding : 0.8vmin;
    color : #afefec;
    border-radius : 2vw;
}

.commentaries, #pictures
{
    background : #b7b5b5;
    height : 80%;
    top : 14%;
    border-radius: 5%;
    border : 1vmin double;
    border-color: white;
    box-sizing: border-box;
}

.commentaries
{
    position : absolute;
    width : 30%;
    margin-left: 2%;
}

.display
{
    display : none;
}

#pictures
{
    position : absolute;
    width : 60%;
    left : 30%;
    overflow: auto;
    margin-left : 5%;
}

#footer
{
    background: rgb(35, 40, 46);
    position : fixed;
    bottom : 0;
    width : 100%;
    height : 5%;
}

#comment
{
    width : 100%;
    height : 80%;
}

#comment #form, #comment table
{
    width : 99%;
    height : 100%;
}

#comment table
{
    margin-top : 30%;
}

#comment td
{
    padding : 0;
}

#form textarea
{
    width : 100%;
    height : 80%;
}

.select
{
    height : 30%;
    font-size: 4vw;
    color : red;
    padding-left: 5%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
}

#pictures img
{
    height : 40%;
    width : 40%;
    margin : 4%;
    box-sizing: border-box;
}

#pictures img:hover
{
    cursor: pointer;
    border : 3px solid blue;
}

::-webkit-scrollbar
{
    width : 1vw;
}

::-webkit-scrollbar-track-piece
{
    background: transparent none;
    border: solid 0.5vw transparent;
    border-right-width: 1vw;
    margin: 15%;
	-webkit-box-shadow: inset .0625em .0625em 0 0 rgb(137,131,117), inset -.0625em -.0625em 0 0 rgb(224,220,210);
}

::-webkit-scrollbar-thumb
{
    border: solid 0 transparent;
	border-right-width: 0.4vw;
    -webkit-border-radius: 0.5em;
	-webkit-border-top-right-radius: .5625em .3125em;
	-webkit-border-bottom-right-radius: .5625em .3125em;
	-webkit-box-shadow: inset 0 0 0 .0625em rgb(79,79,79), inset 0 0 0 .375em rgb(102,102,102);
}
